@888: #888;
@gray: #b2b2b2;
@999: #999;
@ccc: #ccc;
@green: #1aad19;
@fff: #fff;

@font-face {
	font-family: 'machine';
	src:  url('fonts/machine.eot?gp6ouq');
	src:  url('fonts/machine.eot?gp6ouq#iefix') format('embedded-opentype'),
		url('fonts/machine.ttf?gp6ouq') format('truetype'),
		url('fonts/machine.woff?gp6ouq') format('woff'),
		url('fonts/machine.svg?gp6ouq#machine') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'machine' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-manage:before {
	content: "\e926";
}
.icon-down:before {
	content: "\e923";
}
.icon-position:before {
	content: "\e925";
}
.icon-lease:before {
	content: "\e91c";
}
.icon-order:before {
	content: "\e91d";
}
.icon-repair:before {
	content: "\e91e";
}
.icon-X:before {
	content: "\e91f";
}
.icon-location:before {
	content: "\e920";
}
.icon-tool:before {
	content: "\e921";
}
.icon-worker:before {
	content: "\e922";
}
.icon-wechat:before {
	content: "\e91b";
}
.icon-wajue:before {
	content: "\e919";
}
.icon-search-big:before {
	content: "\e91a";
}
.icon-money:before {
	content: "\e918";
}
.icon-confirm:before {
	content: "\e917";
}
.icon-my-order:before {
	content: "\e924";
}
.icon-tmp-2:before {
	content: "\e901";
}
.icon-tmp-3:before {
	content: "\e902";
}
.icon-add:before {
	content: "\e903";
}
.icon-alert:before {
	content: "\e904";
}
.icon-arrow-r:before {
	content: "\e905";
}
.icon-check-bg:before {
	content: "\e906";
}
.icon-check:before {
	content: "\e907";
}
.icon-diamond:before {
	content: "\e908";
}
.icon-i:before {
	content: "\e909";
}
.icon-massage:before {
	content: "\e90a";
}
.icon-menu:before {
	content: "\e90b";
}
.icon-Oval:before {
	content: "\e90c";
	color: #fff;
}
.icon-pause:before {
	content: "\e90d";
}
.icon-search:before {
	content: "\e90e";
}
.icon-set:before {
	content: "\e90f";
}
.icon-speak:before {
	content: "\e910";
}
.icon-star-dark:before {
	content: "\e911";
	color: #000;
}
.icon-star-light:before {
	content: "\e912";
}
.icon-tmp-4:before {
	content: "\e913";
}
.icon-tmp-5:before {
	content: "\e914";
}
.icon-Triangle:before {
	content: "\e915";
}
.icon-user:before {
	content: "\e916";
}
.icon-tmp-1:before {
	content: "\e900";
}



.horse {
	color: #fff;
}

body {
	background-color: #eee;
}

p,h1,h2,h3,h4 {
	margin: 0;
	padding: 0;
}
input {
	border-style: none;
}

input:focus,textarea:focus,button {
	outline: none;
}
input::placeholder,textarea::placeholder {
	font-size: 0.8rem;
	color: #b2b2b2;
	font-weight: 300;
}
a {
	color: #000;
	outline: none;
	text-decoration: none;
}
ul,textarea {
	padding: 0;
	margin: 0;
	list-style: none;
	border: 0;
}
button {
	outline: none;
}
input,a,ul,li,button {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
	font-size: 0;
}
.clearfix {
	*zoom: 0;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.bg-height {
	width: 18.75rem;
	height: 28.15rem;
}
.block {
	display: block;
}
.a-block {
	display: block;
}
.placeholder-b::placeholder{
	color: #000;
}
.confirm-style {
	font-size: 0.7rem;
	color: #1aad19;
}
.detail-swiper {
	text-align: center;
	padding: 1rem;
	.swiper-slide{
		img{
			width: 11.5rem;
			height: 11.5rem;
			margin: 0 auto;
		}
	}
	.swiper-pagination-bullets {
		bottom: 0;
	}
	.swiper-pagination-bullet-active {
		background: #000;
	}
}

.ui-datepicker {
	.ui-datepicker-header {
		background: #1aad19;
		.ui-datepicker-month,.ui-datepicker-year {
			color: #fff;
			border: 0;
			background: transparent;
		}
	}
	.ui-state-default {
		text-align: center;
	}
	.ui-state-highlight,.ui-widget-header .ui-state-highlight {
		color: #fff;
		background: #1aad19;
	}
	.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input {
		border: none;
	}
}

.checkbox {
	display: none;
	margin-right:0.6rem;
}
.checkbox+.checkbox-icon {
	width: 1.05rem;
	height: 1.05rem;
	border: 1px solid #ccc;
	border-radius: 50%;
	display: inline-block;
	vertical-align: bottom;
}
.checkbox:checked+.checkbox-icon {
	background: url('../images/checked.png') no-repeat;
	background-position: -0.05rem -0.05rem;
	background-size: 1.15rem 1.15rem;
}

.map {
	position: absolute;
	width: 100%;
	height: calc(~"100% - 4.2rem");
}
// 按钮
.btn {
	display: block;
	border: none;
	border-radius: 0.25rem;
	text-align: center;
	padding: 0;
	&:focus {
		outline: none;
	}
}
.btn-white {
	width: 16.5rem;
	height: 2.25rem;
	line-height: 2.25rem;
	font-size: 0.9rem;
	background: @fff;
	color: #000;
	margin: 0 auto;
}
.btn-disabled {
	opacity: 0.5;
}
.btn-default {
	width: 16.5rem;
	height: 2.25rem;
	line-height: 2.25rem;
	font-size: 0.9rem;
	color: #fff;
	background: @green;
	margin: 0 auto;
	&:visited {
		color: #fff;
		background: @green;
	}
}
.btn-danger {
	width: 16.5rem;
	height: 2.25rem;
	font-size: 0.9rem;
	color: #fff;
	background: #e64340;
	margin: 0 auto;
}
.btn-s {
	height: 1.75rem;
	font-size: 0.7rem;
	padding: 0.35rem 0.7rem;
	border: 1px solid @green;
	color: @green;
	background: #fff;
}
.btn-xs {
	height: 1.5rem;
	line-height: 1.1rem;
	font-size: 0.8rem;
	padding: 0.2rem 0.95rem;
	border: 1px solid #353535;
	background: #fff;
}
.btn-white-s {
	font-size: 0.8rem;
	width: 4.3rem;
	padding: 0.5rem 0;
	background: @fff;
	color: #000;
	border: 1px solid #000;
	margin-left: 0.6rem;
}
.btn-span{
	display: inline-block;
	width: 4.0rem;
	height: 1.5rem;
	font-size: 0.8rem;
	border: 1px solid #353535;
	box-sizing: border-box;
	background: #fff;
	margin-left: 0.5rem;
	margin-top: -0.15rem;
	text-align: center;
	line-height: 1.4rem;
}
.btn-input::placeholder{
	color: #000;
}
.btn-active {
	color: @fff;
	background: @green;
	border: 1px solid @green;
}
.btn-position {
	margin: 1.5rem auto 0.7rem
}
.btn-top {
	margin: 1rem auto 0.7rem;
}
.btn-bottom {
	margin: 0.7rem auto;
}
.btn-r {
	margin-left: 0.5rem;
	margin-top: -0.15rem;
}
.btn-wrapper {
	position: absolute;
	left: 50%;
	bottom: 1.0rem;
	transform: translateX(-50%);
	button {
		margin-top:0.7rem;
	}
}
.btn-fixed {
	width: 100%;
	background: #eee;
	position: fixed;
	left: 50%;
	bottom: 0;
	padding: 0.7rem 0;
	transform: translateX(-50%);
	.text{
		height: 0.85rem;
		line-height: 0.85rem;
		font-size: 0.6rem;
		color: #999;
		text-align: center;
		margin-bottom: 0.4rem;
	}
}

//表单
.info-wrapper {
	background: #fff;
	list-style: none;
	margin-top: 0.5rem;
	.info-h {
		padding: 0.5rem 0;
		.info-right{
			.right-desc{
				margin-left: 0.7rem;
				p {
					width: 14.0rem;
					font-size: 0.7rem;
					color: #555;
					span {
						font-size: 0.6rem;
						color: #999;
					}
				}
				.dis {
					width: 14.0rem;
					font-size: 0.7rem;
					color: #999;
					margin-top: 0.5rem;
				}
			}

		}
	}
	.info-list {
		padding: 0.55rem 0.7rem 0.55rem 0;
		margin-left: 0.7rem;
		border-bottom: 1px solid #e5e5e5;
		font-size: 0;
		&:last-child {
			border-bottom: 0;
		}
		select {
			font-size: 0.8rem;
		}
		a {
			display: block;
			width: 100%;
		}
		label {
			width: 100%;
		}
		.timeto {
			margin: 0 0.4rem
		}
		.checked {
			float:right;
			font-size: 0.7rem;
			color: #09bb07;
			display: none;
		}
		.info-left {
			display: inline-block;
			width: 3.0rem;
			height: 1.1rem;
			line-height: 1.1rem;
			font-size: 0.8rem;
			img {
				margin-top: 0.8rem;
			}
		}
		.info-left-width {
			width: 4.0rem;
		}
		.vl-t {
			vertical-align: top;
		}
		.info-right {
			// height: 1.1rem;
			line-height: 1.1rem;
			font-size: 0.8rem;
			color: @gray;
			.img-users {
				width: 2.1rem;
				height: 2.1rem;
			}
		}
		.autowrap {
			display: inline-block;
			width: 14.0rem;
			line-height: 1.6rem;
			font-size: 0.8rem;
			margin-top: -0.25rem;
			color: @gray;

		}
		.last-exp {
			width: 12.0rem;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.info-item {
			height: 1.1rem;
			line-height: 1.1rem;
			font-size: 0.8rem;
		}
		.info-textarea {
			width: 12.0rem;
			line-height: 1.1rem;
			font-size: 0.8rem;
			color: @999;
			vertical-align: top;
		}
		.textarea {
			width: 14.0rem;
			line-height: 1.1rem;
			font-size: 0.8rem;
			color: #999;
			vertical-align: top;
			resize: none;
		}
		.w-11 {
			display: inline-block;
			width: 11.4rem;
			height: .7rem;
		}
		.hui {
			color: #b2b2b2;
			font-weight: 300;
		}
		.time-placeholder {
			font-size: 0.8rem;
			// color: #b2b2b2;
			font-weight: 300;
		}
		.w-16 {
			display: inline-block;
			width: 16rem;
		}
		.server-price {
			height: 1.1rem;
			line-height: 1.1rem;
			font-size: 0.8rem;
			color: #4a4a4a;
			text-align: center;
		}
		.text {
			height: 1.1rem;
			line-height: 1.1rem;
			font-size: 0.7rem;
			color: #4a4a4a;
		}
		.money {
			font-size: 0.7rem;
			color: #e64340;
			margin-top: 0.15rem;
		}
		.btn-text {
			font-size: 0.8rem;
			color: #d8d8d8;
		}
		.icon-wechat {
			display: inline-block;
			width: 2.25rem;
			font-size: 0.95rem;
			color: #1aad19;
		}
		.icon-money {
			display: inline-block;
			width: 2.25rem;
			font-size: 1.15rem;
		}
		.info-title {
			line-height: 1.1rem;
			font-size: 0.8rem;
		}
		.gender {
			opacity: 0;
			position: absolute;
			left: -49.95rem;
		}
		.gender-container{
			display: inline-block;
			width: 11.4rem;
		}
		.free {
			float: right;
			position: relative;
			input {
				width: 2.2rem;
				padding: 1px 0;
				white-space: nowrap;
				overflow: hidden;
			}
		}
		.call {
			height: 1.5rem;
			float: right;
			margin-top: -0.25rem;
		}
		form {
			margin-top: 1.0rem;
			margin-bottom: 0.2rem;
			font-size: 0.8rem;
			color: #4a4a4a;
			.trust-wrapper {
				display: inline-block;
				position: relative;
				width: 7.65rem;
				height: .6rem;
				vertical-align: middle;
				border-radius: 0.3rem;
				margin: 0 .7rem 0 1.2rem;
				background: #d8d8d8;
				.trust-progress {
					position: absolute;
					left: 0;
					top: 0;
					width: 80%;
					height: 100%;
					border-radius: 0.3rem;
					background: #1aad19;
				}
			}
			.trust-value {
				font-size: 0.5rem;
				color: #e64340;
			}
		}
	}
	.selected {
		margin-left: 0;
		padding-left: 0.7rem;
		border-bottom: 0;
		background: #e5e5e5;
	}
	.info-rating {
		border-bottom: 0;
	}
	.repair-addr {
		height: 2.6rem;
		line-height: 1.3rem;
		position: relative;
		.position {
			width: 3.5rem;
			height: 1.5rem;
			float: right;
			margin-top: -0.25rem;
		}
	}
}

//播放按钮
.play {
	display: inline-block;
	.oval {
		position: relative;
		width: 3rem;
		height: 3rem;
		border: 0.1rem solid #4a4a4a;
		border-radius: 50%;
		box-sizing: border-box;
		.triangle {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-40%,-50%);
			font-size: 1.1rem;
			color: #4a4a4a;
		}
		.icon-center {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			font-size: 1.1rem;
			color: #4a4a4a;
		}
	}
}
.play-s {
	.oval-s {
		width: 1.6rem;
		height: 1.6rem;
		box-sizing: border-box;
		.triangle-s {
			font-size: 0.7rem;
		}
	}
}
.play-b {
	margin: 0 auto;
	.oval-b {
		width: 3.9rem;
		height: 3.9rem;
		.triangle-b {
		font-size: 1.8rem;
		}
		.speak {
		font-size: 2.0rem;
		}
	}
}
//头部标题
.title {
	text-align: center;
	background-color: @fff;
	margin-top: 0.5rem;
	padding: 0.5rem 0.7rem;
	box-sizing: border-box;
	position: relative;
	.title-top {
		height: 1.1rem;
		line-height: 1.1rem;
		font-size: 0.8rem;
		color: #4a4a4a;
		margin-bottom: 0.35rem;
		.msg-time {
			float: right;
			font-size: 0.5rem;
			color: @999;
		}
	}
	.title-bottom {
		font-size: 0.7rem;
		height: 1.0rem;
		line-height: 1.0rem;
		color: @green;
		.msg-count {
			float: right;
			width: 0.9rem;
			height: 0.9rem;
			font-size: 0.6rem;
			text-align: center;
			background: #f00;
			color: @fff;
			border-radius: 50%;
		}
	}
	.unbunding {
		position: absolute;
		right: 0.7rem;
		top: 50%;
		transform: translateY(-50%);
		padding: 0.25rem 0.8rem;
		font-size: 0.7rem;
		color: #353535;
		border: 1px solid @ccc;
		border-radius: 0.3rem;
	}
}
.repairing-title {
	text-align: left;
	padding: 0.5rem 0.7rem;
	.repairing-top {
		font-size: 0.9rem;
		color: @green;
		height: 1.25rem;
		line-height: 1.25rem;
		margin-bottom: 0.2rem;
	}
	.repairing-bottom {
		color: @999;
		padding: 0;
		.msg {
			display: inline-block;
			width: 15.0rem;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

}
.rating-top {
		font-size: 0.9rem;
		height: 1.25rem;
		line-height: 1.25rem;
		margin-bottom: 0.2rem;
}
.rating-bottom {
	font-size: 0.7rem;
	color:@999;
}
.title-position {
	width: 12.6rem;
	position: absolute;
	left: 50%;
	bottom: 4.75rem;
	transform: translateX(-50%);
	background: transparent;
	.title-top {
		font-size: 1.0rem;
		color: @fff;
	}
	.title-bottom {
		color:@fff;
	}
}
//表单输入
.form-wrapper {
	width: 100%;
	margin-top: 0.7rem;
	.text {
		height: 1.5rem;
		line-height: 1.0rem;
		font-size: 0.7rem;
		padding-left: 0.7rem;
		color: @888;
	}
	input {
		width: 100%;
		box-sizing: border-box;
		font-size: 0.8rem;
		padding: 0.55rem 0 0.55rem 0.7rem;
	}
	.intro {
		width: 100%;
		box-sizing: border-box;
		padding: 0.4rem 0.7rem;
		height: 8.5rem;
		resize: none;
	}
}
//同意条约
.agree {
	padding-left: 0.7rem;
	.checkbox {
		display: none;
		margin-right:0.6rem;
	}
	.checkbox+.checkbox-icon {
		width: .6rem;
		height: .6rem;
		border: 1px solid #ccc;
		border-radius: 50%;
		display: inline-block;
		vertical-align: middle;
	}
	.checkbox:checked+.checkbox-icon {
		background: url('../images/checked.png') no-repeat;
		background-size: .6rem .6rem;
	}
	span {
		font-size: 0.6rem;
		color: #9b9b9b;
		vertical-align: middle;
	}
	a {
		font-size: 0.6rem;
		color: #576b95;
		vertical-align: middle;
	}
}
.agree-position {
	margin: 0.5rem 0;
	text-align: center;
}
//底部说明
.explain {
	position: absolute;
	bottom: 0.7rem;
	width: 100%;
	text-align: center;
	font-size: 0.5rem;
	color: @gray;
}
.explain-b {
	width: 100%;
	text-align: center;
	font-size: 0.5rem;
	color: @gray;
	margin: 0.8rem 0 0.7rem;
}
//图文展示
.pt-wrapper {
	padding: 0.75rem 0.8rem;
	margin:0.5rem 0;
	background: @fff;
	position: relative;
	.pt-pic {
		float: left;
		width: 3.0rem;
		height: 3.0rem;
		margin-right: 0.5rem;
		box-sizing: border-box;
		position: relative;
		.img-position {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
		}
		.avatar3{
			width: 3.2rem;
			height: 3.2rem;
		}
	}
	.avatar {
		margin-right: 0.7rem;
		img{
			width: 3.0rem;
			height: 3.0rem;
		}
	}
	.pt-p-b {
		border: 1px solid @ccc;
	}
	.pt-text {
		float: left;
		width: 12.8rem;
		.pt-title {
			font-size: 0.8rem;
			height: 1.1rem;
			line-height: 1.1rem;
			.spacing {
				margin-left: 1.0rem;
				font-size: 0.7rem;
				color: @999;
			}
		}
		.pt-18 {
			font-size: 0.9rem;
			height: 1.3rem;
			line-height: 1.3rem;
		}
		.pt-content {
			font-size: 0.7rem;
			height: 1.0rem;
			line-height: 1.0rem;
			color: @999;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			span {
				margin-right: 1.0rem;
			}
		}
	}
}
.p-info {
	padding: 1.15rem 0 1.15rem 0.7rem;
	position: relative;
	.pt-pic {
		float: left;
		width: 3.2rem;
		height: 3.2rem;
		margin-right: 1rem;
		box-sizing: border-box;
		position: relative;
		.img-position {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
		}
	}
	.pt-p-fr {
		float: right;
		margin-right: 1.8rem;
	}
	.pt-v-t {
		display: inline-block;
		height: 1.1rem;
		line-height: 1.1rem;
		padding: 1.05rem 0;
		font-size: 0.8rem;
	}
	.repairer {
		border: 1px solid rgba(150,150,150,.5);
		border-radius: 50%;
		position: relative;
		overflow: hidden;
		.repairer-ava {
			width: 3.2rem;
			height: 3.2rem;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	.pt-text {
		float: left;
		width: 12.8rem;
		.pt-title {
			font-size: 0.8rem;
			height: 1.1rem;
			line-height: 1.1rem;
			.spacing {
				margin-left: 1.0rem;
				font-size: 0.6rem;
				color: @999;
			}
		}
		.pt-18 {
			font-size: 0.9rem;
			height: 1.35rem;
			line-height: 1.35rem;
			color: #555;
		}
		.mr-20{
			margin-right: 1.0rem;
		}
		.pt-content {
			font-size: 0.7rem;
			height: 1.0rem;
			line-height: 1.0rem;
			color: @999;
			margin-top: 0.5rem;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}
//文字信息展示
.text-show {
	padding: 0.55rem 0.7rem;
	margin: 0.5rem 0;
	background: @fff;
	.text-name {
		float: left;
		height: 1.1rem;
		line-height: 1.1rem;
		font-size: 0.8rem;
		margin-right: 0.5rem;
	}
	.text-content {
		float: left;
		width: 12.1rem;
		height: 1.1rem;
		line-height: 1.1rem;
		font-size: 0.7rem;
		height: 1.0rem;
		line-height: 1.0rem;
		margin-top: 0.1rem;
		color: @999;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.p-title {
		height: 1.0rem;
		line-height: 1.0rem;
		font-size: 0.7rem;
		color:@888;
		margin: 0.5rem 0 0.4rem 0.7rem;
}

//费用
.cost {
	margin-top: 0.5rem;
	padding: 0.5rem 0.7rem 0.55rem;
	background: #fff;
	.total {
		float: left;
		height: 1.1rem;
		line-height: 1.1rem;
		font-size: 0.8rem;
		margin-top: 0.25rem;
	}
	.payornot{
		float: left;
		font-size: 0.7rem;
		color: #999;
		margin-left: 0.8rem;
		margin-top: 0.3rem;
	}
	.number {
		float: right;
		height: 1.65rem;
		line-height: 1.65rem;
		font-size: 1.2rem;
	}
}
//导航
.nav-wrapper {
	padding: 0.55rem 0;
	background: @fff;
	width: 100%;
	display: flex;
	.nav-item {
		flex: 1;
		height: 0.9rem;
		line-height: 0.9rem;
		font-size: 0.7rem;
		color: #9b9b9b;
		text-align: center;
		i {
			font-size: 0.9rem;
			color: #000;
		}
	}
	.nav-item-active {
		color: #000;
	}
}

//租赁内容
.bg-wrapper {
	position: absolute;
	width: 100%;
	height: calc(~"100% - 2rem");
	img{
		width: 100%;
		height: 100%;
	}
	.bg-mask {
		position: fixed;
		left: 0;
		top: 2.0rem;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.1)
	}
	.bg-fixed {
		position: fixed;
		left: 50%;
		bottom: 1rem;
		transform: translateX(-50%);
	}
}


.avatar2 {
	display: block;
	width: 3.0rem;
	height: 3.0rem;
	margin: 1.7rem auto 0;
}
.name {
	font-size: 0.9rem;
	height: 1.3rem;
	line-height: 1.3rem;
	text-align: center;
	color: #555;
	margin: 0.5rem 0;
}

.rating {
	margin: 0 auto;
	width: 10.15rem;
	.rating-item {
		width: 1.55rem;
		height: 1.45rem;
		margin-right: 0.6rem;
		float: left;
		background-image: url("../images/Star_off.png");
		background-repeat: no-repeat;
		background-size: 1.55rem 1.45rem;
	}
	.rating-item:last-child {
		margin: 0;
	}
}

.rating-s{
	margin: 0.15rem 0;
	.rating-item-s {
		width: 0.75rem;
		height: 0.75rem;
		margin-right: 0.3rem;
		background-size: 0.75rem 0.75rem;
	}
}

.rating-xs{
	margin: 0.45rem 0 0;
	.rating-item-xs {
		width: 0.5rem;
		height: 0.5rem;
		margin-right: 0.2rem;
		background-size: 0.5rem 0.5rem;
	}
}

.rating-content {
	padding: 0 0.7rem;
	.rating-title {
		display: flex;
		padding: 1.0rem 0 0.7rem;
		.line {
			flex: 1;
			position: relative;
			top: -0.45rem;
			border-bottom: 1px solid #e5e5e5;
		}
		.text {
			display: inline-block;
			font-size: 0.7rem;
			height: 1.0rem;
			line-height: 1.0rem;
			text-align: center;
			margin-left: 0.25rem;
		}
	}
	.rating-wrapper {
		width: 12.85rem;
		margin: 0 auto 1.5rem;
		ul {
			width: 6.4rem;
			float: left;
			li {
				font-size: 0.8rem;
				height:1.1rem;
				line-height: 1.1rem;
				margin-bottom: 0.7rem;
			}
			li:last-child {
				margin: 0;
			}
		}
	}
}

.rating-text{
	width: 100%;
	box-sizing: border-box;
	padding: 0.4rem 0.7rem;
	height: 5.5rem;
	resize: none;
	margin-bottom: 1.55rem;
}
//上传图片
.upload_wrapper {
	background: @fff;
	padding:0.7rem;
	.upload_content {
		width: 17.35rem;
		height: 10.3rem;
		position: relative;
		border: 1px solid #ccc;
		margin-bottom: 0.5rem;
		&:last-child {
			margin-bottom: 0;
		}
		.upload_add {
			position: absolute;
			left: 50%;
			top: 50%;
			transform:translate(-50%,-50%);
			text-align: center;
			color: #ccc;
			.upload_icon {
				width: 2.0rem;
				height: 2.0rem;
			}
			.upload_disc {
				height: 1.0rem;
				line-height: 1.0rem;
				font-size: 0.7rem;
			}
		}
	}
}
.upload-s-wrapper {
	padding: 0.7rem 0 0 0.7rem;
	background-color: @fff;
	.upload-s-content {
		width: 2.9rem;
		height: 2.9rem;
		margin: 0 0.7rem 0.7rem 0;
		float: left;
		box-sizing: border-box;
		border: 1px solid @ccc;
		position: relative;
		.close{
			padding: 0.2rem;
			font-size: 0.5rem;
			position: absolute;
			right: 0;
			top: 0;
			transform: translate(50%,-50%);
			color: #fff;
			background: #e64340;
			border-radius: 50%;
		}
		.add-icon {
			width: 1.4rem;
			height: 1.4rem;
			margin: 0.7rem;
		}
		.product-p {
			width: 2.9rem;
			height: 2.9rem;
		}
	}
}
.verify {
	margin: 0.5rem 0 1.0rem;
	.info-list {
		font-size: 0.8rem;
		padding: 0.55rem 0;
		position: relative;
		.info-left {
			display: inline-block;
			width: 4.55rem;
			height: 1.1rem;
			line-height: 1.1rem;
		}
		.info-right {
			height: 1.1rem;
			line-height: 1.1rem;
			font-size: 0.8rem;
			color: #000;
		}
		.time-container {
			display: inline-block;
			width: 11rem;
		}
		.container-s {
			display: inline-block;
			width: 4.5rem;
		}
		.date{
			position: absolute;
			left: -50.0rem;
			top: 0;
			opacity: 0;
			&::active {
				color:#f00;
			}
		}
		.certified {
			float: right;
			color: #000;
			margin-right: 0.7rem;
		}
		.to-certified {
			float: right;
			margin-right: 0.7rem;
			color: @999;
		}
		.select-container {
			display: inline-block;
			width: 11.4rem;
		}
		input {
			width: 11.4rem;
			padding: 0;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		input[type=button] {
			position: absolute;
			right: 0;
			top: 0;
			height: 2.2rem;
			width: 6.0rem;
			color: @green;
			background: transparent;
			border-left: 1px solid #e5e5e5;
		}
	}
}

.fixed {
	position: fixed;
	left: 50%;
	bottom: 0.7rem;
	transform: translateX(-50%);
}
.header-alert {
	padding: 0.5rem 0 0.5rem 0.7rem;
	font-size: 0.7rem;
	white-space: nowrap;
	overflow: hidden;
	background: #f8e71c;
}

.search-wrapper {
	position: relative;
	.search {
		display: block;
		width: 17.95rem;
		height: 1.4rem;
		line-height: 0.9rem;
		font-size: 0.6rem;
		border-radius: 0.25rem;
		padding: 0.3rem 0.8rem 0.3rem 7.8rem;
		margin:0.4rem auto;
	}
	.search::placeholder {
		font-size: 0.6rem;
	}
	.icon-search {
		position: absolute;
		left: 7.4rem;
		top: 0.4rem;
		font-size: 0.6rem;
		color: #b2b2b2;
	}
}
.blur{
	box-shadow: 0 .1rem 0.2rem rgba(0, 0, 0, .05) inset;
}
.search-box {
	width: 100%;
	height: 2.2rem;
	position: relative;
	font-size: 0;
	padding: 0.4rem 0.7rem;
	box-sizing: border-box;
	background: #fff;
	.select{
		line-height: 1.4rem;
		white-space: nowrap;
		vertical-align: middle;
		display: inline-block;
		width: 3rem;
		height: 1.4rem;
		span {
			display: inline-block;
			width: 1.8rem;
			font-size: 0.6rem;
			color: #4a4a4a;
			overflow: hidden;
			vertical-align: middle;
		}
		.icon-down {
			line-height: 1.4rem;
			font-size: .4rem;
			vertical-align: middle;
			color: #4a4a4a;
			display: inline-block;
		}
	}
	input[type=search] {
		vertical-align: middle;
		width: 12rem;
		height: 1.4rem;
		padding: 0.25rem 0.7rem 0.25rem 1.1rem;
		font-size: 0.6rem;
		background: #efeff4;
		border-radius: 0.7rem;
		&::placeholder{
			font-size: 0.6rem;
		}
	}
	.icon-search {
		position: absolute;
		left: 4rem;
		top: 50%;
		transform: translateY(-50%);
		font-size: 0.6rem;
		color: #9b9b9b;
	}
	.search-text {
		display: inline-block;
		font-size: 0.7rem;
		color: #4a4a4a;
		padding: 0 0.4rem;
		vertical-align: middle;
	}
}

.problem-list {
	padding: .7rem .7rem .3rem;
	background: @fff;
}
.problem-item {
	margin: 0 0.4rem 0.4rem 0;
}
.problem-disc {
	width: 100%;
	margin-top: 0.7rem;
	box-sizing: border-box;
	padding: 0.4rem 0 0 0.7rem;
	height: 8.5rem;
	resize: none;
	color: @gray;
}
.problem-voice {
	padding: 1.0rem 3.0rem;
	margin-top: 0.7rem;
	color: @gray;
	background: @fff;
	.speak-box-c {
		position: relative;
		text-align: center;
		width: 7.4rem;
		margin: 0 auto;
		.text-explain-1, .text-explain-2 {
			height: 1.0rem;
			line-height: 1.0rem;
			font-size: 0.7rem;
			color: #4a4a4a;
			margin-top: 0.4rem;
		}
		.text-explain-2 {
			display: none;
		}
	}
	.speak-box {
		position: relative;
		text-align: center;
		display: inline-block;
		width: 4rem;
		margin: 0 auto;
		.text-explain {
			height: 1.0rem;
			line-height: 1.0rem;
			font-size: 0.7rem;
			color: #4a4a4a;
			margin-top: 0.4rem;
		}
	}
}
//图标i的样式
.istyle {
	font-size: 0.8rem;
	color: #09bb07;
	padding: 0 0.7rem;
	&:focus {
		outline: none;
	}
}

.announce {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.5);
	display: none;
	.confirm {
		width: 14.0rem;
		height: 7.25rem;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		border-radius: 0.2rem;
		text-align: center;
		background: @fff;
		font-size: 0;
		.confirm-title {
			font-size: 0.9rem;
			height: 1.25rem;
			line-height: 1.25rem;
			margin: 1.0rem 0 0.4rem;
		}
		p {
			font-size: 0.7rem;
			height: 1.0rem;
			line-height: 1.0rem;
			color: @888;
			margin-bottom: 1.05rem;
		}
		.check,.return {
			display: inline-block;
			width: 49.5%;
			font-size: 0.8rem;
			height: 1.1rem;
			line-height: 1.1rem;
			padding: 0.7rem 0;
			border-top: 1px solid #e5e5e5;
		}
		.check {
			color: #000;
			border-right: 1px solid #e5e5e5;
		}
		.return {
			color: #02bb00;
		}

	}
}

.step-wrapper {
	position: relative;
	height: 3.45rem;
	margin-bottom: 0.5rem;
	background: @fff;
	.step-line {
		width: 11.35rem;
		height: 1px;
		border: 1px solid #d8d8d8;
		position: absolute;
		left: 3.85rem;
		top: 1.2rem;
		box-sizing: border-box;
 	}
	.step {
		// width: 2.8rem;
		height: 2.35rem;
		text-align: center;
		font-size: 0.7rem;
		position: absolute;
		top: 0.7rem;
		&:last-child {
			margin-right: 0;
		}
		&.active {
			a {
				background: @green;
			}
			p {
				color: @green;
			}
		}
		a {
			display: block;
			width: 1.1rem;
			height: 1.1rem;
			line-height: 1.1rem;
			background: #d8d8d8;
			border-radius: 50%;
			color: @fff;
			margin: 0 auto;
		}
		p {
			margin-top: 0.25rem;
			color: #d8d8d8;
		}
	}
	.step1 {
		left: 1.9rem;
	}
	.step2 {
		left: 50%;
		transform: translateX(-50%);
	}
	.step3 {
		right: 1.9rem;
	}
}

.select-text {
	height: 2.2rem;
	font-size: 0.8rem;
	padding: 0.55rem 0 0.55rem 0.7rem;
	color: @888;
	background: @fff;
	box-sizing: border-box;
	.w-16 {
		display: inline-block;
		width: 16.2rem;
	}
}

.eqm-text {
	font-size: 0.8rem;
	width: 3rem;
	margin-left: 1.75rem;
	white-space: nowrap;
	overflow: hidden;
}

.pay-wrapper {
	width: 9.85rem;
	height: 8.5rem;
	margin: 2.5rem auto 1.5rem;
	.pay-icon {
		width: 4.5rem;
		height: 4.5rem;
		margin: 0 auto;
		position: relative;
		.pay-bg {
			position: absolute;
			left: 0;
			top: 0;
			width: 4.5rem;
			height: 4.5rem;
			font-size: 4.45rem;
		}
		.pay-ci {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);

		}
		.pay-success-bg {
			color: #09bb07;
		}
		.pay-success-ci {
			font-size: 1.7rem;
			color: @fff;
		}
		.pay-fail-bg {
			color: #e64340;
		}
		.pay-fail-ci {
			font-size: 2.05rem;
			color: @fff;
		}
		.pay-balance-bg {
			color: #fec10e;
		}
		.pay-balance-ci {
			font-size: 2.25rem;
		}
	}
	.pay-text {
		text-align: center;
		.pay-result {
			height: 1.4rem;
			line-height: 1.4rem;
			font-size: 1.0rem;
			margin-top: 1.0rem;
		}
		.balance {
			font-size: 1.5rem;
			height: 2.1rem;
			line-height: 2.1rem;
		}
		.pay-order-num {
			height: 1.1rem;
			line-height: 1.1rem;
			font-size: 0.8rem;
			color: @888;
			margin-top: 0.5rem;
		}
	}

}

.game-pay{
	margin-top: 2rem;
	.currency {
		font-size: 1rem;
		text-align: center;
	}
	.pay{
		font-size: 2rem;
		text-align: center;
		margin-top: 1.0rem;
	}
	.payee{
		font-size: 0.7rem;
		padding: 0.5rem 0.7rem;
		background: #fff;
		margin: 1rem 0;
		.payeer{
			color: #ccc;
		}
	}
}

.last-exp {
	width: 11.25rem;
}
.more {
	float: right;
	width: 0.4rem;
	height: 0.7rem;
	color: #c7c7c7;
	margin: 0.2rem 0.7rem;
}
.more-middle {
	position: absolute;
	right: 0.7rem;
	top: 50%;
	width: 0.4rem;
	height: 0.7rem;
	color: #c7c7c7;
	transform: translateY(-50%);
}
.more-v {
	display: inline-block;
	height: 0.7rem;
	line-height: 0.7rem;
	float: right;
	margin-right: 0.7rem;
	padding: 1.25rem 0;
}
.address-m {
	background: @fff;
	margin-top: 0.5rem;
	&:last-child{
		margin-bottom: 3.75rem;
	}
	.address-info {
		padding: 0.7rem;
		border-bottom: 1px solid #e5e5e5;
		.consignee,.tel {
			height: 1.1rem;
			line-height: 1.1rem;
			font-size: 0.8rem;
		}
		.tel {
			float: right;
			color: @999;
		}
		.address {
			line-height: 1.0rem;
			font-size: 0.7rem;
			margin-top: 0.35rem;
		}
	}
	.address-option {
		padding: 0.5rem 0.7rem;
		font-size: 0.7rem;
		.adr {
			margin-left: 0.4rem;
			height: 1.15rem;
			line-height: 1.15rem;
		}
		.del,.edit {
			float: right;
			margin: 0 0.3rem 0 1.2rem;
		}
	}
}
.order {
	margin-top: 0.5rem;
	.bg-white {
		background: transparent;
	}
	.order-bg {
		background: transparent;
		margin: 0;
	}
	.order-title {
		padding: 0.7rem;
		background: @fff;
		border-bottom: 1px solid @ccc;
		font-size: 0.7rem;
		span:last-child {
			float: right;
			color: @green;
		}
	}
	.order-total {
		padding: 0.7rem;
		background: @fff;
		border-top: 1px solid @ccc;
		border-bottom: 1px solid @ccc;
		font-size: 0.8rem;
		color: @999;
		text-align: right;
	}
	.order-option {
		padding: 0.6rem 0.8rem;
		background: @fff;
	}
}
.wrapper {
	margin-top: 0.5rem;
	height: 100%;
	position: fixed;
	background: @fff;
	padding: 1.0rem 0.7rem;
	h3 {
		height: 1.25rem;
		line-height: 1.25rem;
		font-size: 0.9rem;
	}
	h4 {
		height: 1.1rem;
		line-height: 1.1rem;
		font-size: 0.8rem;
		margin: 1.0rem 0 0.4rem;
	}
	p {
		font-size: 0.7rem;
		line-height: 1.0rem;
		color: #454545;
		padding-right: 1.0rem;
		margin-bottom: 0.5rem;
	}
	div {
		img {
			width: 7.7rem;
			height: 13.7rem;
			margin-right: 1.0rem;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
.auditing-wrapper {
	padding: 0 0.7rem;
	.auditing-msg {
		margin: 0.6rem 0 1.0rem;
		.receive-time {
			width: 5.05rem;
			font-size: 0.5rem;
			color: #fff;
			background: #d8d8d8;
			padding: 0.1rem 0.25rem;
			border-radius: 0.25rem;
			margin: 0 auto;
		}
		.sender {
			height: 0.85rem;
			line-height: 0.85rem;
			font-size: 0.6rem;
			margin-bottom: 0.2rem;
		}
		.msg {
			line-height: 1.0rem;
			font-size: 0.7rem;
			color: #999;
			padding: 0.45rem 0.25rem 0.45rem 0.6rem;
			background-color: #fff;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				z-index: 2;
				transform: translate(-95%,-50%);
				border-top: 0.2rem solid transparent;
				border-right: 0.2rem solid #fff;
				border-bottom: 0.2rem solid transparent;
				border-left: 0.2rem solid transparent;
			}
		}
	}
}

.user-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	left: -100%;
	top: 0;
	transition: all 1s ease;
	.user-mask{
		width: calc(~"100% - 10.9rem");
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		background: rgba(0,0,0,.5);
		display: none;
	}
	.user-info {
		position: absolute;
		left: 0;
		top: 0;
		width: 10.9rem;
		height: 100%;
		padding: 0 0 1.3rem 1.5rem;
		background: #fff;
		position: relative;
		box-sizing: border-box;
		.user {
			display: inline-block;
			margin-bottom: 3.65rem;
			.user-text {
				font-size: 0.5rem;
				color: @999;
				span {
					i {
						font-size: 0.5rem;
						color: #1aad19;
						margin-right: 0.25rem;
					}
					margin: 0 1rem 0 0;
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
		li {
			margin-bottom: 1.25rem;
			a {
				font-size: 0.7rem;
				span {
					margin-left: 0.4rem;
				}
			}
		}
		.user-c {
			width: 4.3rem;
			font-size: 0.5rem;
			position: absolute;
			left: 50%;
			bottom: 1.3rem;
			transform: translateX(-50%);
			a {
				text-align: center;
				i {
					font-size: 1.0rem;
				}
				p {
					margin-top: 0.3rem;
				}
			}
		}
	}
}

.user-show.user-wrapper{
	left: 0;
}

.recharge-wrapper {
	margin: 0.5rem 0.7rem;
	background: #fff;
	.recharge {
		padding: 1.3rem 1.0rem;
		border-bottom: 1px solid #e5e5e5;
		position: relative;
		.balance {
			height: 1.0rem;
			line-height: 1.0rem;
			font-size: 0.7rem;
			margin-top: 0.6rem;
		}
		.text {
			float: right;
			line-height: 1.8rem;
			font-size: 0.7rem;
			margin-left: 0.7rem;
			color: #e5e5e5;
		}
		.money {
			float: right;
			height: 1.5rem;
			line-height: 1.5rem;
			font-size: 1.5rem;
			color: #e5e5e5;
		}
		p {
			font-size: 0.6rem;
			color: #999;
			margin-top: 0.25rem;
			a{
				color: #1aad19;
			}
		}
	}
	.padding-top {
		height: 4.6rem;
		padding: 0 1.0rem 0.8rem;
		.center{
			position: absolute;
			left: 50%;
			bottom: 0.8rem;
			transform: translateX(-50%);
		}
	}
}
.error-wrapper {
	width: 5.1rem;
	height: 5.1rem;
	position: absolute;
	left: 50%;
	top: 8.0rem;
	transform: translateX(-50%);
	.icon-check-bg {
		font-size: 5.1rem;
		color: #e5e5e5;
	}
	.icon-wajue,.icon-search-big {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		font-size: 2.5rem;
		color: #fff;
	}
	.error-text {
		position: absolute;
		left: 50%;
		bottom: -1.7rem;
		transform: translateX(-50%);
		width: 5.1rem;
		height: 1.0rem;
		line-height: 1.0rem;
		text-align: center;
		font-size: 0.7rem;
		color: #999;
	}
}

.preloader_1 {
	width: 2.7rem;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	display: none;
	span {
		display: block;
		bottom: 0.0rem;
		width: 0.45rem;
		height: 0.25rem;
		background: #888888;
		position: absolute;
		animation: preloader_1 1.5s  infinite ease-in-out;
		&:nth-child(2) {
			left:0.55rem;
			animation-delay: .2s;

		}
		&:nth-child(3) {
			left:1.1rem;
			animation-delay: .4s;
		}
		&:nth-child(4) {
			left:1.65rem;
			animation-delay: .6s;
		}
		&:nth-child(5) {
			left:2.2rem;
			animation-delay: .8s;
		}
		@keyframes preloader_1 {
			0% {height:0.25rem;transform:translateY(0.0rem);background:#888888;}
			25% {height:1.5rem;transform:translateY(0.75rem);background:#1aad19;}
			50% {height:0.25rem;transform:translateY(0.0rem);background:#888888;}
			100% {height:0.25rem;transform:translateY(0.0rem);background:#888888;}
		}
	}
}

.button {
	background: #000;
	width: 5.0rem;
	height: 1.6rem;
	border-radius: 0.8rem;
	position: fixed;
	top: 6rem;
	right: 1.0rem;
	transition: all .25s;
	-webkit-tap-highlight-color: transparent;
	.button-switch {
		background: #fff;
		width: 1.3rem;
		height: 1.3rem;
		border-radius: 50%;
		position: absolute;
		top: 0.15rem;
		left: 0.15rem;
		transition: all .25s;
	}
	.button-text-off,
	.button-text-on {
		line-height: 1.7rem;
		font-size: 0.6rem;
		color: #fff;
		position: absolute;
		top: 0;
		transform: scale(0);
		opacity: 0;
		transition: all .25s;
	}
	.button-text-off {
		left: 0.7rem;
	}
	.button-text-on {
		right: 0.7rem;
		transform: scale(1);
		opacity: 1;
	}
}
.button-on {
	background: #45c01a;
	.button-switch {
		left: calc(~"100% - 1.45rem");
	}
	.button-text-off {
		transform: scale(1);
		opacity: 1;
	}
	.button-text-on {
		transform: scale(0);
		opacity: 0;
	}
}
.location {
	width: 1.7rem;
	height: 1.7rem;
	position: absolute;
	left: 1.1rem;
	bottom: 8rem;
	text-align: center;
	background: #fff;
	border: 1px solid #f8f8f8;
	border-radius: 0.25rem;
	.icon-location {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		font-size: 1.0rem;
	}
}
.icon-tool {
	position: absolute;
	left: 5.0rem;
	top: 15.0rem;
}
.icon-worker {
	position: absolute;
	left: 10.0rem;
	top: 20.0rem;
	display: none;
}
.menu-wrapper {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	.menu-header {
		padding: 0.55rem 1.45rem;
		display: flex;
		font-size: 0.9rem;
		background: #fff;
		a{
			flex: 1;
		}
		i{
			flex: 1;
		}
		.serve {
			font-size: 0.7rem;
			text-align: center;
		}
		.icon-X {
			text-align: right;
		}
	}
	.menu-list {
		display: flex;
		background: #fff;
		a {
			flex: 1;
			font-size: 0.7rem;
			padding: 0.8rem 0 0.65rem;
			text-align: center;
			border-right: 1px solid #e5e5e5;
			&:last-child{
				border-right: 0;
			}
			i {
				font-size: 1.0rem;
			}
			p {
				margin-top: 0.1rem;
			}
		}

	}
}
.city-select {
	width: 100%;
	height: 9.0rem;
	position: absolute;
	left: 0;
	top: 4.2rem;
	background: #ccc;
	display: none;
	.city-list {
		height: 100%;
		overflow: scroll;
		li {
			width: 28%;
			height: 0.7rem;
			display: inline-block;
			padding: .5rem .2rem;
			font-size: 0.7rem;
			text-align: center;
			background: #fff;
			border-radius: 0.25rem;
			margin: 0.25rem 0.15rem;
			white-space: nowrap;
			overflow: hidden;
		}
		.city-selected {
			color: #fff;
			background: #1aad19;
		}
	}
	.current-city {
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		font-size: 0.7rem;
		padding: 0.5rem 0.7rem;
		box-sizing: border-box;
		background: #1aad19;
		.charge {
			float: right;
			i {
				width: 0.4rem;
				height: 0.7rem;
				color: #c7c7c7;
				margin-left: 0.2rem;
				vertical-align: middle;
			}
		}
	}
}

.report-wrapper{
	.header{
		font-size: 0.7rem;
		padding: 0.5rem 0;
		text-align: center;
		color: #4a4a4a;
		background: #f8e71c;
	}
}

.acq-company {
	margin-bottom: 0.5rem;
	.pt-wrapper {
		padding: 0.6rem 0.7rem 0.7rem;
		margin: 0;
		.avatar {
			width: 2.1rem;
			height: 2.1rem;
			img {
				width: 2.1rem;
				height: 2.1rem;
			}
		}
	}
	.ordered {
		font-size: 0.7rem;
		padding: 0.25rem 0 0.25rem 3.5rem;
		color: #4a4a4a;
		background: #fff;
		border-top: 1px solid #efeff4;
	}

}

.info-detail {
	.header{
		margin-bottom: 0.5rem;
		img {
			width: 100%;
			height: 11.35rem;
		}
		div {
			padding: 0.55rem 0.7rem;
			background: #fff;
			h3 {
				font-size: 0.9rem;
				font-weight: 400;
				margin-bottom: 0.4rem;
			}
			p {
				font-size: 0.7rem;
				color: #999;
				i {
					margin-right: 0.4rem;
				}
			}
		}
	}
	.info-item {
		padding: 0.6rem 0.7rem;
		background: #fff;
		margin-bottom: 0.5rem;
		h4 {
			height: 1.0rem;
			line-height: 1.0rem;
			font-size: 0.7rem;
			padding-left: 0.4rem;
			border-left: 0.15rem solid #1aad19;
		}
		p {
			line-height: 1.0rem;
			font-size: 0.7rem;
			color: #999;
			margin-top: 0.4rem;
		}
		.img-views {
			float: left;
			width: 14.4rem;
			height: 2.9rem;
			margin-top: 0.5rem;
			overflow: hidden;
			li {
				float: left;
				width: 2.9rem;
				height: 2.9rem;
				text-align: center;
				margin-right: 0.7rem;
				color: #999;
				background: #e5e5e5;
				&:last-child {
					margin-right: 0;
				}
				img {
					width: 2.9rem;
					height: 2.9rem;
				}
			}
			li.active{
				transform: scale(2);
			}
		}
		.more-photos {
			float: right;
			width: 2.9rem;
			height: 2.9rem;
			font-size: 0.6rem;
			text-align: center;
			line-height: 2.9rem;
			margin-top: .5rem;
			color: #999;
			background: #e5e5e5;
		}
	}
	.img-container {
		width: 100%;
		padding: 0.7rem 0 0.2rem 0.7rem;
		position: absolute;
		left: 0;
		top: 0;
		background: #fff;
		li {
			float: left;
			width: 5.45rem;
			height: 5.45rem;
			margin: 0 .5rem .5rem 0;
			img {
				width: 5.45rem;
				height: 5.45rem;
			}
		}
	}
}
